.App {
  text-align: center;
  color: #455a64;
  max-width: 600px;
  margin: 35px auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  border-radius: 4px;
  max-width: 700px;
  margin: 30px auto 0 auto;
  padding: 30px;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.today {
  font-weight: bolder;
}
.github-link {
  font-size: 12px;
  text-align: center;
  margin: 5px auto auto auto;
}

.github-link a:visited {
  color: blue;
}
